<launch>
	<!-- Initialize parameters -->
	<param 	name="ctrl/tla"		value="1.2"	/>
	<param 	name="ctrl/mindla"	value="3.2"	/>
	<param 	name="ctrl/dlavmin"	value="3"	/>
	<param 	name="ctrl/refint"	value="0.02"	/>
	<param 	name="ctrl/refmindist"	value="0.2"	/>
	<param 	name="ctrl/sampleTime" 	value="0.04"	/>
	<param 	name="ctrl/Kp"		value="2"	/>
	<param 	name="ctrl/Ki" 		value="0.05"	/>
</launch>
