<launch>
	<!-- Initialize parameters -->
	<param 	name="ctrl/tla"		value="1.5"	/>
	<param 	name="ctrl/mindla"	value="3.2"	/>
	<param 	name="ctrl/dlavmin"	value="3"	/>
	<param 	name="ctrl/refint"	value="0.2"	/>
	<param 	name="ctrl/refmindist"	value="0.2"	/>
	<param 	name="ctrl/sampleTime" 	value="0.04"	/>
	<param 	name="ctrl/Kp"		value="2"	/>
	<param 	name="ctrl/Ki" 		value="0.05"	/>
	<node
		pkg="pcl_converter"
		type="pcl_converter_node"
		name="pcl_converter_node"
		respawn="false"
		required="true"
        output="screen"
	/>
	<node
		pkg="rrt"
		type="rrt_node"
		name="rrt_node"
		respawn="false"
		output="screen"
		required="false"
	/>
	<node 
	  	type="rviz" 
		name="rviz" 
		pkg="rviz" 
		respawn="true"
	/>
</launch>
