<launch>
	<!-- Initialize parameters -->
	<include file="$(find rrt)/launch/parameters.launch" 
	/>
	<node
		pkg="pcl_converter"
		type="pcl_converter_node"
		name="pcl_converter_node"
		respawn="true"
		output="screen"
		launch-prefix="xterm -e"
	/>
	<node
		pkg="rrt"
		type="rrt_node"
		name="rrt_node"
		respawn="false"
		output="screen"
		required="true"
	/>
</launch>
